In [2]:
import pandas as pd

In [10]:
a = pd.Series([2,4,6,1])
print(a)
print(type(a))
print(a.values)

0    2
1    4
2    6
3    1
dtype: int64
<class 'pandas.core.series.Series'>
[2 4 6 1]

In [3]:
d=pd.DataFrame({'a':[2,4,6],'b':[0,5,8]},index=[1,2,3])
d

   a  b
1  2  0
2  4  5
3  6  8

In [6]:
d1=pd.DataFrame([[2,0],[4,5],[6,8]],index=[1,2,3],columns=['a','b'])
d1

   a  b
1  2  0
2  4  5
3  6  8

# slicing data frame

In [13]:
d1.loc[2,:] #for label based indexing

a    4
b    5
Name: 2, dtype: int64

In [9]:
d1.loc[:,'a']

1    2
2    4
3    6
Name: a, dtype: int64

In [12]:
d1.iloc[2,:] # for positional indexing

a    6
b    8
Name: 3, dtype: int64

In [14]:
d1.describe()

         a         b
count  3.0  3.000000
mean   4.0  4.333333
std    2.0  4.041452
min    2.0  0.000000
25%    3.0  2.500000
50%    4.0  5.000000
75%    5.0  6.500000
max    6.0  8.000000

In [15]:
d1.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 3 entries, 1 to 3
Data columns (total 2 columns):
a    3 non-null int64
b    3 non-null int64
dtypes: int64(2)
memory usage: 152.0 bytes

# to drop duplicate values

In [16]:
df=pd.DataFrame([[1,4,4],[1,5,8],[5,6,1]])
df

   0  1  2
0  1  4  4
1  1  5  8
2  5  6  1

In [18]:
df.drop_duplicates(subset=0) #  removed from 0th coloum

   0  1  2
0  1  4  4
2  5  6  1

In [20]:
#to store the dataframe object as csv file.
df.to_csv('D:/ML_datasets/pandaset.csv')

In [22]:
#to read the csv file
data=pd.read_csv('D:/ML_datasets/pandaset.csv')
data

   Unnamed: 0  0  1  2
0           0  1  4  4
1           1  1  5  8
2           2  5  6  1